html {
    background-image: url('/images/cloudbackground.png');
}
body{
    background-color: transparent;
}

#NumGenForm {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}